// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.line-bc {
  padding: 10px 10px;
  max-width: 450px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
}

/*以下、②緑のコメント*/
.balloon6 {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.balloon6 .faceicon {
    float: left;
    margin-right: -50px;
    width: 40px;
}

.balloon6 .faceicon img{
    width: 100%;
    height: auto;
    border-radius: 35%;
}
.balloon6 .chatting {
    width: 100%;
    text-align: left;
}
.says {
    display: inline-block;
    position: relative;
    margin: 0 0 0 10px;
    padding: 10px;
    max-width: 350px;
    min-width: 50px;
    min-height: 40px;
    border-radius: 12px;
    background: #ddfddd;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #ddfddd;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.says p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

/*以下、③オレンジのコメント*/
.mycomment {
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 0;
    padding: 10px;
    max-width: 350px;
    border-radius: 12px;
    background: #F2BCAA;
}

.mycomment :after {
    content: "";
    position: absolute;
    top: 3px;
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #F2BCAA;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.mycomment p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 8px;
  z-index: 8888;
}
